<h2>Custom class and style directive</h2>
<div [appClass]="{'app-container':true,apphighlight:true,appFont:5>31}">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem laudantium est, ducimus eius cumque laboriosam. Esse suscipit vero, incidunt consequatur a amet consectetur labore temporibus eum deserunt, eos ratione.</p>
</div>

<div class="app-container"  [appStyle]="{backgroundColor:active? 'green':'red',color: active?'white':'black'}">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem laudantium est, ducimus eius cumque laboriosam. Esse suscipit vero, incidunt consequatur a amet consectetur labore temporibus eum deserunt, eos ratione.</p>
</div>