<div class="notice-container">
  <div class="notice-header">
    <button (click)="tab='info';">Info</button>
    <button (click)="tab='service';">Service</button>
    <button (click)="tab='privacy';">Privacy</button>
    <button (click)="tab='user';">User agreement</button>
  </div>

  <div class="notice-body" [ngSwitch]="tab">
    <div *ngSwitchDefault>
      <h1>Terms of services and privacy policy</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat ratione, reprehenderit repellendus rerum autem excepturi, labore ex quo voluptates quidem architecto modi commodi consequuntur assumenda vero. Quibusdam minima similique quidem.</p>
    </div>


  <div *ngSwitchCase="'service'">
    <h2>Terms of services</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde mollitia expedita temporibus quas culpa explicabo quisquam hic magnam ratione laboriosam eos, impedit veniam error? Voluptas numquam soluta aut labore a?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sit praesentium deleniti id amet obcaecati facilis ratione, excepturi ullam, animi vel voluptatibus, nobis debitis tempore sequi? Voluptatum molestias temporibus eum.</p>
  </div>

  <div *ngSwitchCase="'privacy'">
    <h2>Privacy Policy</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempore, voluptatibus aperiam unde minima aliquam, voluptatem provident, quia tenetur cum placeat quasi debitis adipisci perspiciatis nobis natus nisi nemo doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus enim incidunt blanditiis voluptatibus animi eaque distinctio sed, saepe labore officia dolorum ex magnam qui. Consequuntur tempora quasi sint in itaque?</p>
  </div>
  
  <div *ngSwitchCase="'user'">
    <h2>User Agreement</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, eveniet mollitia cupiditate quo ab veniam repellendus? Consequatur incidunt reiciendis iure, eaque sapiente neque minus nihil fuga ad, architecto aliquid dolor?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, nostrum fugit velit vel accusantium tempore saepe repudiandae! Molestias laborum id dolore repellat, ea libero natus nihil vel, laudantium excepturi amet?</p>
  </div>
</div>
</div>